# Assignment 6

*(Due Saturday, October 26, 2019 at noon.)*

**1)** Below, paste the code needed to import and clean your file from the `../dataset` directory in your repository, then save the result to a new file. I should be able to run the code in this notebook and get my own copy of your cleaned, processed data.

**Note:** Your assignment file will be publicly accessible on Github. If your dataset is private, don't print anything confidential in this assignment.

In [98]:
import numpy as np
import pandas as pd
import glob as g

#read in raw data
mortality_data_2017 = pd.read_fwf('../my_dataset/US_2017MortalityData', colspecs=((19,20),(82,83),(101,105),(64,66),(68,69),(444,446),(76,78),(83,84),(60,62),(153,156),(144,145),(105,106),(107,108),(108,109)), 
                  names=['Resident Status', 'Place of Death', 'Data Year', 'Month of Death', 'Sex', 'Race', 'Age', 'Marital Status', 'Education1', '113 Cause Recode', 'Place of Injury', 'Injury at Work', 'Method of Disposition', 'Autopsy'])
mortality_data_2017.head()

#to subset [row,col]
#mortality_data_2017.iloc[990:1000]

,Resident Status,Place of Death,Data Year,Month of Death,Sex,Race,Age,Marital Status,Education1,113 Cause Recode,Place of Injury,Injury at Work,Method of Disposition,Autopsy
0,1,1,2017,1,M,8,7,S,99.0,114,NaN,N,U,U
1,1,2,2017,1,F,8,17,M,99.0,100,NaN,U,U,N
2,1,1,2017,1,F,8,26,W,99.0,48,NaN,U,U,N
3,1,1,2017,1,F,8,15,W,99.0,29,NaN,U,U,N
4,1,1,2017,1,F,8,14,M,99.0,46,NaN,U,U,N

In [99]:
#read in additional info files
cause_code_113 = pd.read_excel('../my_dataset/113_cause_recode.xlsx')
cause_code_113.tail()

#create a list of reference files name 
ref_name = ["age_info", "autopsy", "education_info1", "education_info2", "injury_at_work", "marital_status", 
            "method_of_disposition", "month_of_death", "place_of_death", "place_of_injury", "race_info", "resident_status"]
#create loop to read in files with same extension
ref_files_list = g.glob('../my_dataset/*.csv')
#len(ref_files_list)

#for f in range(len(ref_files_list)):
#        ref_name[f] = pd.read_csv(ref_files_list[f])

In [115]:
#manually
age_info = pd.read_csv('../my_dataset/age_info.csv')
autopsy = pd.read_csv('../my_dataset/autopsy.csv')
education_info1 = pd.read_csv('../my_dataset/education_info1.csv')
education_info2 = pd.read_csv('../my_dataset/education_info2.csv')
injury_at_work = pd.read_csv('../my_dataset/injury_at_work.csv')
marital_status = pd.read_csv('../my_dataset/marital_status.csv')
method_of_disposition = pd.read_csv('../my_dataset/method_of_disposition.csv')
month_of_death = pd.read_csv('../my_dataset/month_of_death.csv')
place_of_death = pd.read_csv('../my_dataset/place_of_death.csv')
place_of_injury = pd.read_csv('../my_dataset/place_of_injury.csv')
race_info = pd.read_csv('../my_dataset/race_info.csv')
resident_status = pd.read_csv('../my_dataset/resident_status.csv')

#ref_all = pd.concat([resident_status, place_of_death, month_of_death, race_info, age_info,
#                     marital_status, education_info1, cause_code_113, place_of_injury,
#                     injury_at_work, method_of_disposition, autopsy], axis=1, sort=False)
#ref_all.head()

In [116]:
#manually merge
mortdata2017_1 = pd.merge(mortality_data_2017, resident_status,  on=['Resident Status'])
mortdata2017_2 = pd.merge(mortdata2017_1, place_of_death,  on=['Place of Death'])
mortdata2017_3 = pd.merge(mortdata2017_2, month_of_death,  on=['Month of Death'])
mortdata2017_4 = pd.merge(mortdata2017_3, race_info,  on=['Race'])
mortdata2017_5 = pd.merge(mortdata2017_4, age_info,  on=['Age'])
mortdata2017_6 = pd.merge(mortdata2017_5, marital_status,  on=['Marital Status'])
mortdata2017_7 = pd.merge(mortdata2017_6, education_info1,  on=['Education1'])
mortdata2017_8 = pd.merge(mortdata2017_7, cause_code_113,  on=['113 Cause Recode'])
mortdata2017_9 = pd.merge(mortdata2017_8, place_of_injury,  on=['Place of Injury'])
mortdata2017_10 = pd.merge(mortdata2017_9, injury_at_work,  on=['Injury at Work'])
mortdata2017_11 = pd.merge(mortdata2017_10, method_of_disposition,  on=['Method of Disposition'])
mortdata2017_12 = pd.merge(mortdata2017_11, autopsy,  on=['Autopsy'])

len(mortdata2017_12)

710

In [117]:
mortdata2017_all = mortdata2017_12.dropna()
mortdata2017_all.tail()

,Resident Status,Place of Death,Data Year,Month of Death,Sex,Race,Age,Marital Status,Education1,113 Cause Recode,...,MOD_Desc_x,Race_Desc,Age_Desc,Marital_Desc,Edu1_Desc,113_Desc,POI_Desc,IAW_Desc,MOD_Desc_y,Autopsy_Desc
703,1,7,2017,7,F,2,19,W,12.0,118,...,July,Black,65 - 69 yrs,Widowed,4 yrs of high school,Falls (W00-W19),Other Specified Places,No,Unknown,Yes
704,1,3,2017,9,M,2,17,S,12.0,128,...,September,Black,55 - 59 yrs,Never married or single,4 yrs of high school,Assault (homicide) by discharge of firearms (...,Trade and service area,No,Unknown,Yes
707,1,3,2017,2,M,1,13,M,99.0,126,...,February,White,35 - 39 yrs,Married,Not stated,Intentional self-harm (suicide) by other and ...,Unspecified place,Yes,Unknown,Yes
708,1,3,2017,9,M,2,15,U,12.0,123,...,September,Black,45 - 49 yrs,Marital Status unknown,4 yrs of high school,Other and unspecified non-transport accidents...,Other Specified Places,Yes,Unknown,Yes
709,1,7,2017,9,M,2,10,S,12.0,128,...,September,Black,20 - 24 yrs,Never married or single,4 yrs of high school,Assault (homicide) by discharge of firearms (...,Other Specified Places,Yes,Unknown,Yes

In [118]:
#Save your file (change the name if necessary).
mortdata2017_all.to_csv('../my_dataset/cleaned_mortalitydata.csv')

**2)** A brief survey: Have you taken an introductory statistics course, and if so, do you remember much from it? For example,

* Can you articulate the null hypotheses for the questions you formulated last week involving your data? 
* Do you know what a t-test is for?
* Do you know what a *p* value represents?
* Do you know what standard deviation is, and how it's calculated?

* Can you articulate the null hypotheses for the questions you formulated last week involving your data? 
> not really, still trying to figure it out
* Do you know what a t-test is for?
> yes, to detect if there are differences in the data, not sure about the details
* Do you know what a *p* value represents?
> know it as significant value to evaluate if hypotheses formed should be accepted or rejected
* Do you know what standard deviation is, and how it's calculated?
> as in how the data points deviate, can't remember the actual calculation

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 6 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Section 7.3
    * Chapter 10